# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Compile
  displayName: Compile Package
  jobs:
  - job: Maven
    displayName: Maven Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Maven@4
      inputs:
        mavenPomFile: 'pom.xml'
        publishJUnitResults: false
        javaHomeOption: 'JDKVersion'
        mavenVersionOption: 'Default'
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - script: |
        pwd
        ls -l
        sed -i 's/$(Build.SourcesDirectory)/'"$(Build.SourcesDirectory)"'/g' $(Build.SourcesDirectory)/Dockerfile
        cat $(Build.SourcesDirectory)/Dockerfile
      displayName: display current directory
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)
