# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Compile
  displayName: Compile Package
  jobs:
  - job: Maven
    displayName: Maven Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Maven@4
      inputs:
        mavenPomFile: 'pom.xml'
        publishJUnitResults: false
        javaHomeOption: 'JDKVersion'
        mavenVersionOption: 'Default'
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          pcsregistrytest.azurecr.io/j2eedemo
    - script: |
        pwd
        docker image list
        docker save pcsregistrytest.azurecr.io/j2eedemo -o j2eedemo.tar
        ls -l
      displayName: display current directory
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)/j2eedemo.tar'
        ArtifactName: 'drop'
        publishLocation: 'Container'
